.header {
    width: 878px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #F3F4F5;
    &-title {
        font-size: 18px;
        font-weight: 700;
        margin: 0 0 0 30px;
    }
    &-close {
        margin-right: 20px;
        color: #8C8C8C;
    }
}