.request {
    width: 209px;
    margin: 0 22px 0;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 30px;
        height: 370px;
    }

    &__info-item {
        font-size: 12px;
        font-weight: 600;

        p {
            font-size: 11px;
            font-weight: 500;
            color: #9B99AE;
            margin-top: 3px;
        }

        span {
            font-size: 14px;
            line-height: 16px;
            float: right;
            color: #34324F;

            &.blue {
                color: #205EFF;
            }
        }
    }

    &-price {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        color: #9B99AE;

        span {
            margin-left: 3px;
            font-size: 16px;
            font-weight: 700;
            color: #34324F;
        }
    }

    &-score {
        display: flex;
        flex-direction: column;

        font-size: 12px;
        font-weight: 500;
        color: #9B99AE;
        margin-bottom: 0;

        span {
            font-size: 14px;
            font-weight: 600;
            color: #34324F;
            display: flex;
            justify-content: flex-end;
        }
    }
}
