.complete {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 415px;
    padding-top: 30px;
    text-align: center;

    &-title {
        font-size: 18px;
        font-weight: 700;
        color: #205EFF;
    }

    &-info {
        max-width: 450px;
        margin: 5px auto 20px;
        font-size: 12px;
        font-weight: 500;
        color: #969BAE;
    }

    .request-info {
        margin: 0 auto;

        .request-price {
            margin: 20px;
        }
    }
}