.payment {
    &-inner {
        margin-left: 30px;
    }


    &-info {
        margin-top: 13px;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        color: #7b7b83;
    }

    &-input {
        display: block;
        width: 258px;
        height: 36px;
        border: 1px solid #f1f2f5;
        border-radius: 4px;
        padding-right: 12px;
        position: relative;

        // &::before {
        //     content: url('dollar-sign.svg');
        //     top: 100px;
        //     position: absolute;
        //     font-size: 100px;
        //     color: red;
        // }
        &::placeholder {
            padding-left: 12px;
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            font-weight: 500;
            line-height: 16px;
            color: #969bae;
        }
    }

    &-buttons {
        width: 400px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        row-gap: 15px;
    }

    &-circle {
        vertical-align: text-top;

        label {
            align-self: start;
            display: inline-block;
            font-size: 12px;
            font-weight: 600;
            line-height: 15px;
            color: #474e69;
            margin-left: 20px;
        }

        input {
            display: inline-block;
            margin: 0;
        }

        img {
            content: '';
            position: relative;
            left: 10px;
            top: 2px;
        }
    }
}