.nav {
    &__button {
        background-color: #205eff;
        border-radius: 4px;
        margin-right: 14px;
        color: #f4f7ff;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        line-height: 39px;
        padding: 13px 25px;
    }
}
